<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Imágenes</title>
    <!-- Agrega los estilos de Bootstrap -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Estilo para las miniaturas */
      .thumbnail {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Galería de Imágenes</h1>
      <div class="row">
        <% imagePaths.forEach((imagePath, index) => { %>
        <div class="col-4">
          <img
            class="thumbnail"
            src="fotos/<%= imagePath %>"
            alt="Imagen <%= index + 1 %>"
          />
        </div>
        <% }); %>
      </div>
    </div>

    <!-- Agrega los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
