<%- include('includes/header.ejs') %>
</head>
<body>
  <!-- Barra de navegación -->
<%- include('includes/navigation.ejs') %>

<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <h3 class="display-4 text-centered">Sopa de Letras del Ausias</h3>
    </header>
    <div class="row align-items-md-stretch">
      <div class="col">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Acceso a un aula</h2>
          <p>Introduce el identificador de aula para acceder</p>
          <form action="/tablero/aula" method="post">
            <div class="form-control">
              <label for="aula_code" class="form-label">AULA-CODE: &nbsp;</label>
              <input class=""
                  type="text" name="aula_code" id="aula_code" value="">
             
              &nbsp;&nbsp;&nbsp;<button class="btn btn-primary" type="submit">Acceso Aula</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <%- include('includes/footer.ejs') %>
  <%- include('includes/end.ejs') %>